<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/entry-point">ГПИР проект</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="authenticationService.isLogged"><a [routerLink]="['/home']">Выбор проекта</a></li>
        <li *ngIf="authenticationService.isLogged"><a [routerLink]="['/report']">Отчеты</a></li>
        <li *ngIf="authenticationService.isLogged"><a [routerLink]="['/entry-point']">Выбор периода</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authenticationService.role === 'GKNT'"><a routerLink="/create-project">Создать проект</a></li>
        <li *ngIf="authenticationService.isLogged"><a routerLink="/project-profile">Управление проектом</a></li>
        <li *ngIf="!authenticationService.isLogged"><a routerLink="/login">Войти</a></li>
        <li *ngIf="authenticationService.isLogged"><a (click)="logout()">Выйти</a></li>

      </ul>
    </div>
    <!--/.nav-collapse -->
    <div *ngIf="authenticationService.isLogged" class="well well-sm">
      <strong>Выбран проект:</strong>&nbsp;&nbsp;{{projectService.currentProjectName}}
    </div>
  </div>
</nav>


