<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div [ngClass]="messageClass" *ngIf="message">
        <span *ngIf="message" class="text-primary message-success">Выбран проект:</span>&nbsp;&nbsp;&nbsp;{{message}}</div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Список проектов</h3>
      </div>
      <div class="panel-body">
        <p appSelectProject [project]="project" class="text-primary" *ngFor="let project of projects; let i = index" (choose)="onChoose($event)" >
          <small>{{i+1}})</small>&nbsp;<strong>{{project.nameProject}}</strong>
        </p>
      </div>
    </div>
  </div>
</div>


<div *ngIf="projectService.currentProjectId" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">

      <a routerLink="/report" class="btn btn-default btn-form">Перейти к отчетам &rarr;</a>


    </div>
  </div>
</div>









