div /deep/ .ui-accordion-content{
  all: inherit;
}
div /deep/ .ui-accordion-header{
 color: inherit;
 background: inherit;
}


.message-success{
  color: aliceblue;
  text-decoration: underline;
  font-weight: 700;
}

.btn-form{
  margin: 20px;
  padding: 20px;
}

.no-margins{
  margin: 0;
}


