<div class="container">
  <!--<div [ngClass]="messageClass">{{message}}</div>-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">3.Плановые сроки завершения этапов(стадий) прохождения инновационного проекта</h3>
    </div>
    <div class="panel-body" >
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Плановые этапы</th>
            <th>Плановая дата(мм.гггг)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of model;let i = index">
            <td>{{model.name}}</td>
            <td>
              <div class="form-group" (click)="editData(i, model.name, model.value)">
                <input appInputValidation [fieldName]="fieldName" [regExp]="yearRegExp" [index]="i" (onValidation)="validate($event)" [disabled]="!model.status || projectService.projectNew === false || projectService.writable===false" class="form-control input-sm" type="text" [(ngModel)]="model.value">
                <span *ngIf="projectService.projectNew === false || projectService.writable===true" class="fa fa-user-times cursor alignment-right"  aria-hidden="true" (click)="disableDate(i)">{{model.status | buttonDate}}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="commentModel.length > 0" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Наименование этапа</th>
          <th>Пред. дата(мм/гггг)</th>
          <th>Новая дата(мм/гггг)</th>
          <th>Документ</th>
          <th>Дата утверждения</th>
          <th>Причина изменения</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let commentModel of commentModel">
          <td>
           {{commentModel.dictionaryName}}
          </td>
          <td class="fixed-date">
            <div class="form-group">
              <input disabled class="form-control input-sm" type="text" [(ngModel)]="commentModel.oldVal">
            </div>
          </td>
          <td class="fixed-date">
            <div class="form-group">
              <input disabled class="form-control input-sm" type="text" [(ngModel)]="commentModel.newVal">
            </div>
          </td>
          <td>
            <div class="form-group">
              <textarea disabled class="form-control input-sm" type="text" [(ngModel)]="commentModel.documentName"></textarea>
            </div>
          </td>
          <td class="fixed-date">
            <div class="form-group">
              <input disabled class="form-control input-sm" type="text" [(ngModel)]="commentModel.date">
            </div>
          </td>
          <td>
            <div class="form-group">
              <textarea disabled class="form-control input-sm" [(ngModel)]="commentModel.description"></textarea>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <button *ngIf="projectService.writable" [disabled]="valid === false" class="btn btn-primary" (click)="submit()">Сохранить</button>
      <div style="float: right">
        <a routerLink="/customers-executors-info"><button type="button" class="btn btn-info">Назад</button></a>
        <a routerLink="/customers-financing"><button type="button" class="btn btn-info">Далее</button></a>
      </div>

    </div>
  </div>
</div>
<p-dialog header="Внесение изменений плановых отчетов" [closable]="false" [(visible)]="display" modal="modal" width="700" [responsive]="true">
  <form class="form-horizontal">
    <fieldset>
      <legend>{{modalWindowObject.name}}</legend>
      <div class="form-group">
        <label for="newDate" class="col-lg-2 control-label">Новая дата</label>
        <div class="col-lg-10">
          <input appModalInputValidation [fieldName]="'newDate'" [regExp]="yearRegExp" (onValidation)="modalValidate($event)" [(ngModel)]="modalCommentObject.newVal" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="newDate" placeholder="*мм/гггг">
        </div>
      </div>
      <div class="form-group">
        <label for="documentName" class="col-lg-2 control-label">Название документа</label>
        <div class="col-lg-10">
          <textarea appModalInputValidation [fieldName]="'documentName'" [regExp]="fieldRegExp" (onValidation)="modalValidate($event)" [(ngModel)]="modalCommentObject.documentName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="documentName" placeholder="*название документа"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="documentDate" class="col-lg-2 control-label">Дата утверждения</label>
        <div class="col-lg-10">
          <input appModalInputValidation [fieldName]="'documentDate'" [regExp]="fullYearRegExp" (onValidation)="modalValidate($event)" [(ngModel)]="modalCommentObject.date" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="documentDate" placeholder="*дд/мм/гггг">
        </div>
      </div>
      <div class="form-group">
        <label for="reason" class="col-lg-2 control-label">Причина изменения</label>
        <div class="col-lg-10">
          <textarea appModalInputValidation [fieldName]="'reason'" [regExp]="fieldRegExp" (onValidation)="modalValidate($event)" [(ngModel)]="modalCommentObject.description" [ngModelOptions]="{standalone: true}" class="form-control" rows="3" id="reason" placeholder="*причина изменения"></textarea>
          <span class="help-block">После заполнения данные автоматически сохранятся.</span>
        </div>
      </div>
    </fieldset>
  </form>
  <p-footer>
    <button class="btn btn-primary btn-sm" type="button" [disabled]="!modalValid" (click)="modalSave()">Да</button>
    <button class="btn btn-danger btn-sm" type="button" (click)="rejectEditing()">Нет</button>
  </p-footer>
</p-dialog>
<p-growl [(value)]="msgs"></p-growl>
