<div class="container-fluid">
  <!--<div [ngClass]="messageClass">{{message}}</div>-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">5.Плановые объемы финансирования проекта за счетсредств иностранных инвесторов</h3>
    </div>
    <div class="panel-body" >
      <table *ngIf="model.length>0" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th rowspan="2">Страна происхождения инвестиций</th>
          <th [attr.colspan]="headerModel?.length">Общий объем средств иностранных инвесторов(включая кредиты и займы)</th>
          <th [attr.colspan]="headerModel?.length">в том числе Прямые иностранные инвестиции</th>
        </tr>
        <tr>
          <th *ngFor="let year of headerModel">{{year}}</th>
          <th *ngFor="let year of headerModel">{{year}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let model of model;let index = index">
          <td>{{model.oksmName}}</td>
          <td *ngFor="let secondYear of model.investmentFullModels;let i = index">
            <div class="form-group">
              <input appDeleteZero [disabled]="projectService.writable === false || (projectService.writable === true && projectService.projectNew === false && authenticationService.role !== 'GKNT') " appInputValidation [index]="i" [regExp]="regExp" [fieldName]="'directModel'+ i" (onValidation)="validateMainModel($event)" (change)="checkValidInput()" class="form-control input-sm" type="number" [(ngModel)]="secondYear.value">
            </div>
          </td>
          <td *ngFor="let firstYear of model.investmentDirectForeignModels;let i = index">
            <div class="form-group">
              <input appDeleteZero [disabled]="projectService.writable === false  || (projectService.writable === true && projectService.projectNew === false && authenticationService.role !== 'GKNT')" appInputValidation [index]="i" [regExp]="regExp" [fieldName]="'investModel'+ i" (onValidation)="validateMainModel($event)" (change)="checkValidInput()" class="form-control input-sm" type="number" [(ngModel)]="firstYear.value">
            </div>
          </td>
          <td *ngIf="(projectService.writable === true && projectService.projectNew === true) || (projectService.writable === true && projectService.projectNew === false && authenticationService.role === 'GKNT')"><i class="fa fa-window-close" aria-hidden="true" (click)="deleteCountry(index)"></i></td>
        </tr>
        </tbody>
      </table>
      <button *ngIf="projectService.writable === true" [disabled]="!valid" class="btn btn-primary" (click)="submit()">Сохранить</button>
      <button *ngIf="(projectService.writable === true && projectService.projectNew === true) || (projectService.writable === true && projectService.projectNew === false && authenticationService.role === 'GKNT')" class="btn btn-info" (click)="addCountry()">Добавить страну</button>
    </div>
  </div>
</div>

<p-dialog header="Внесение изменений плановых отчетов" [closable]="false" [(visible)]="display" modal="modal" width="700" [responsive]="true">
  <div class="form-group">
    <label for="countryLabel" class="control-label">Страна</label>
    <p-autoComplete (onKeyUp)="checkValid();countryMessage()" (onSelect)="checkValid();countryMessage();validateCountryInput()" (onUnselect)="validateCountryInput()" id="countryLabel" [(ngModel)]="country" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="30"></p-autoComplete>
    <span class="text-danger">{{modalMessage}}</span>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <form class="form-horizontal">
        <fieldset>
          <legend>Общий объем средств иностранных инвесторов</legend>
          <div *ngFor="let invest of modalObject.investmentFullModels;let i = index" class="form-group">
            <label for="invest" class="col-lg-2 control-label">{{invest.year}}</label>
            <div class="col-lg-10">
              <div class="form-group-sm">
                <input appDeleteZero appInputValidation [index]="i" [fieldName]="'invest'+ i" [regExp]="regExp" (onValidation)="show($event)" [(ngModel)]="invest.value" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="invest" placeholder="*новое значение">

              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-lg-6">
      <form class="form-horizontal">
        <fieldset>
          <legend>в том числе Прямые иностранные инвестиции</legend>
          <div *ngFor="let invest of modalObject.investmentDirectForeignModels;let i = index" class="form-group">
            <label for="newDate" class="col-lg-2 control-label">{{invest.year}}</label>
            <div class="col-lg-10">
              <div class="form-group-sm">
                <input appDeleteZero appInputValidation [index]="i" [fieldName]="'direct'+ i" (onValidation)="show($event)" [(ngModel)]="invest.value" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="newDate" placeholder="*новое значение">
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <p-footer>
    <button [disabled]="!modalValid" class="btn btn-primary btn-sm" type="button" (click)="saveNewCountry()">Добавить</button>
    <button class="btn btn-danger btn-sm" type="button" (click)="rejectEditing()">Нет</button>
  </p-footer>
</p-dialog>
<p-growl [(value)]="msgs"></p-growl>
