/* You can add global styles to this file, and also import other style files */
.cursor{
  cursor: pointer;
}

.alignment-right{
  float: right;
}

.input-min-width{
  min-width: 110px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


